body {
  font-family: 'Jost', sans-serif;
  background: linear-gradient(90deg, rgb(4, 5, 63) 52%, rgb(45, 3, 138) 100%);
  font-size: 1.6rem;
  color: white;
}
header {
  padding: 1.5rem;
}

header h1{
  text-align: center;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.alerta{
  font-weight: bold;
  text-align: center;
}

/* Formulario y Resultado */
.contenedor{
  background: linear-gradient(90deg, rgb(3, 4, 85) 52%, rgb(76, 20, 197) 100%);
  padding: 2rem;
  border-radius: 10px;
  width: 80%;
  margin: 20px 0px;
}

.contenedor .campo{
  margin: 40px 0px;
}

.contenedor label{
  display: block;
}

.contenedor .campo input , select{
  all: unset;
  width: 100%;
  background-color: #000000;
  color: white;
  padding: 7px 0px;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
}

.contenedor input[type="submit"]{
  all: unset;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 0px;
  font-weight: 500;
  cursor: pointer;
  background-color: black;
}

.contenedor h2{
  text-align: center;
}

.contenedor p span{
  font-weight: bold;
}
.contenedor p {
  text-align: center;
}


@media(min-width:768px){
  main{
    flex-direction: row;
    align-items: start;
    justify-content: space-around;
  }

  .contenedor{
    width: 40%;
  }
}

/* Spinner */

.loading{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin: 20px 0px;
}

.spinner {
  width: 30%;
  height: 100px;
  background-color: #000000;

  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}